.idea
.venv
.git

*__pycache__

files_loader/.env
data_consumer/kafka_services/.env
data_consumer/data_saver/.env
logger_dir/.env
transcription_of_files/.env
classified_content/.env

data_consumer/tester.py
